site_name: Internship Report
docs_dir: learning-aws/docs

theme:
  name: material
  language: en
  features:
    - navigation.expand
    - navigation.sections
    - navigation.top
    - content.code.copy
  palette:
    # Cấu hình cho tông màu Sáng (Mặc định)
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Cấu hình cho tông màu Tối (Dự phòng)
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home:
      - Personal Information: index.md
      - Worklog:
          - Overview: worklog.md
          - Week 1: worklog/week1.md
  - More:
      - AWS Group Info: 'https://www.facebook.com/groups/awsstudygroupfcj/'


